@model MatchService.Models.ReservationViewModel

<h2>Stadium @Model.Stadium.Name</h2>
<h3>Match: @Model.PlaceInRun.Match.Header</h3>
<h4>Match starts at @Model.DateTime.ToString("dd.MM.yy hh:mm")</h4>

<h2>the place @Model.PlaceInRun.Number in sector @Model.PlaceInRun.SectorNumber is reserved for you for</h2>

<h4>Price:</h4>

@foreach (var pc in Model.PriceComponents)
{
    <span>@pc.Name:@pc.Value$</span>
    <br />
}

@using (Html.BeginForm("CreateTicket", "Home", FormMethod.Post))
{
    <input type="hidden" value="@Model.Reservation.Id" name="reservationId" />
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="firstName" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="lastName" /></td>
        </tr>
    </table>
    <input type="submit" value="submit" />
}
